<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <script>
        async function cart() {
            let res = fetch('/add_cart/1');
            if (res) {
                alert('product add successfully');
            } else {
                alert('product add successfully');
            }
        }

        cart()
    </script>
</body>

</html>